@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: auto;
    padding-top: 25px;
}


/* product */

.addproduct {
    text-align: right;
}

.addproduct>a {
    display: inline-block;
    color: #fff;
    background-color: #136acd;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 28px;
}

.addproduct>a:hover {
    background-color: #0f529f;
}

.border_right {
    border-right: 1px solid #d2d2d2;
}

label {
    font-weight: bold;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}


/* tab code */

.badge {
    background-color: #a9a9a9;
    border-radius: 1.2rem;
}

.successapprove {
    background-color: #0f529f !important;
}

.additem>span {
    color: #0f529f;
    font-weight: bolder;
    cursor: pointer;
}

.textright {
    text-align: right;
}


/* tab code */

.visibility {
    visibility: hidden;
}


/* popup */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
}


/* The Close Button */

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.recordpayment {
    max-width: 680px;
}

.closebutton {
    padding: 0;
    border: none;
    background-color: white;
}


/* popup */


/* tool tips */


/* tool tips */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    text-decoration: none;
    display: inline-block;
    padding: 12px 7px 12px 7px;
    width: 100%;
}

.dropdown-content ul li:nth-child(1) {
    border-bottom: 1px solid #ebebeb;
}

.dropdown-content ul li:hover {
    background-color: #136acd;
    color: #fff;
}

.dropdown-content ul li:hover a {
    color: #fff;
    display: inline-block;
}

.dropdown>span {
    color: #fff;
    background-color: #136acd;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 22px;
    border-radius: 28px;
}


/* upload data */

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 4px dashed #1FB264;
    position: relative;
    width: 40%;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 15px 10px 7px 15px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.w3-badge,
.w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.w3-blue,
.w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}


/* upload data */


/* setting */

.setting_links {
    display: inline-block;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.setting_links li {
    display: inline-block;
    background-color: #f4f4f4;
    width: 100%;
    border-left: 2px solid;
    padding: 11px 12px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


/* setting */


/* on of togel */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* on of togel */

.dashboardcard {
    animation-name: fadeInUp;
    position: relative;
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-delay: .8s;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin: 8px;
    width: 100%;
    -webkit-flex-basis: 200px;
    flex-basis: 200px;
    padding: 24px;
    text-align: center;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid #b2c2cd;
    background-color: #fff;
    transition: all 0.25s;
}

.dashboardcard:hover:not(.is-disabled) {
    cursor: pointer;
    box-shadow: 0 8px 32px rgb(77 101 117 / 35%);
    border-color: transparent;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.import {
    border: 1px solid #136acd !important;
    color: #000 !important;
    background-color: transparent !important;
}

.import:hover {
    background-color: #136acd !important;
    color: #fff !important;
    border: none !important;
}

.border-income {
    padding: 17px 0px;
    border-radius: 3px;
    background-color: #ecf0f3;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img {
        width: 40px;
        height: 40px
    }
    .header_img img {
        width: 45px
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show {
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


/* pagination */

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li {
    display: inline;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.ng-scope>a:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.ng-scope>a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.ng-scope>a:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.ng-isolate-scope {
    text-align: center !important;
    display: inline-block;
}

.input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.errortext {
    color: red;
}

.was-validated input.form-control:invalid,
input.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
    border-color: #dc3545;
}

.was-validated input.form-control:valid,
input.form-control.is-valid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
    border-color: #198754 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545;
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-valid,
.was-validated .form-control:valid,
.ng-not-empty {
    border-color: #198754 !important;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.ng-not-empty:focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 25%) !important;
}

#qrcode img {
    display: inline-block !important;
}

.table>:not(:last-child)>:last-child>* {
    font-size: 13px;
}

.invoicetabact {
    border-bottom: 2px solid #136acd;
    color: #136acd;
    font-weight: 700;
}

.badbackcolor {
    background-color: #136acd;
}