<div class="height-100">
    <div class="container m-0" ng-controller="customerController">
        <div class="row">
            <div class="col-6">
                <h2>Customers - عملاء</h2>
            </div>
            <div class="col-6 addproduct">
                <a href="javascript:void(0)" class="import" onclick="$('#addcustomer').show();">Import CSV</a>
                <a href="#!addcustomer">Add a customer - إضافة زبون</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="customer in customers|itemsPerPage:30" pagination-id="customer">
                            <td>{{$index + 1}}</td>
                            <td>{{customer.customer}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.phone}}</td>
                            <td>
                                <a ng-click="updateCstomer(customer.id)">
                                    <i class="bx bx-pen" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                </a>&nbsp;&nbsp;
                                <a href="javascript:void(0);" ng-click="deleteCustomers(customer.id)" ng-model="customerid">
                                    <i class="bx bx-archive" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center">
                <dir-pagination-controls pagination-id="customer" max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<div id="addcustomer" class="modal">
    <!-- Modal content -->
    <div class="modal-dialog recordpayment" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Import customer</b></h5>
                <button type="button" class="close closebutton" onclick="$('#addcustomer').hide();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>download tenplate here
                            <a href="files/customer.xlsx" download="download">here</a>
                        </p>
                    </div>
                    <div class="col-12 mt-2">
                        <form action="">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <input id="fileupload" type="file" name="fileupload">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success" id="upload-button" onclick="uploadFile()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./NotifyPlugin/notify.min.js?v=2.1"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css?v=3.1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js?v=4.1"></script>
<script>
    async function uploadFile() {
        let formData = new FormData();
        debugger
        formData.append("file", fileupload.files[0]);
        await fetch('https://einvoice-1634502460189.azurewebsites.net/uploader/uploadCustomers', {
            method: "POST",
            body: formData
        });
        $.dialog({
            icon: 'fa fa-spinner fa-spin',
            title: 'Working!',
            content: 'we are processing your request!'
        });

        setTimeout(() => {
            $.notify("The file has been uploaded successfully...!", "success");
            window.location.reload();
        }, 5000);
    }
</script>