<div class="height-100">
    <div ng-controller="userProileCtrl">
        <div class="container m-0">
            <div class="row mt-3">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h2>User Profile</h2>
                        </div>
                        <div class="col-6">
                            <img ng-src="data:image/JPEG;base64,{{companylogo}}" height="90" width="150">
                        </div>
                    </div>
                </div>
                <div class="col-6" ng-if="$scope.companylogo.length >0 ">
                    <div class="row">
                        <div class="col-8">
                            <input class="form-control" id="fileupload" type="file" name="fileupload">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" onclick="uploadFile()">Upload Logo</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-2">
            <!-- <form action="" class="col-12"> -->
            <div class="row">
                <div class="col-6">
                    <div class="row border_right">
                        <div class="col-12 mt-3 border-bottom">
                            <h4>Basic information</h4>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">User</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="companyName" ng-blur="oncompanynameChange()">
                                    <small class="form-text text-muted">Name of a business or person.</small>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Primary Contact</label>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="First name" ng-model="firstName" ng-blur="onfirstnameChange()">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Last name" ng-model="lastName" ng-blur="onlastnameChange()">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="Email" ng-model="email">
                                        </div>
                                        <div class="col">
                                            <input type="number" class="form-control" placeholder="Phone" ng-model="cellNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Website</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="website">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea name="" class="form-control" id="" cols="2" rows="2" ng-model="notes" ng-blur="oncomnotesChange()"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 border-bottom">
                            <h4>Company adress</h4>
                        </div>
                        <div class="col-12">
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Currency</label>
                                <div class="col-sm-10">
                                    <select name="" id="" class="form-control" ng-model="currency">
                                    <option value="">Select</option>
                                    <option value="AED">AED -	United Arab Emirates Dirham</option>
                                    <option value='AFN'>AFN -	Afghanistan Afghani</option>
                                    <option value='ALL'>ALL -	Albania Lek</option>
                                    <option value='AMD'>AMD -	Armenia Dram</option>
                                    <option value='ANG'>ANG -	Netherlands Antilles Guilder</option>
                                    <option value='AOA'>AOA -	Angola Kwanza</option>
                                    <option value='ARS'>ARS -	Argentina Peso</option>
                                    <option value='AUD'>AUD -	Australia Dollar</option>
                                    <option value='AWG'>AWG -	Aruba Guilder</option>
                                    <option value='AZN'>AZN -	Azerbaijan New Manat</option>
                                    <option value='BAM'>BAM -	Bosnia and Herzegovina Convertible Marka</option>
                                    <option value='BBD'>BBD -	Barbados Dollar</option>
                                    <option value='BDT'>BDT -	Bangladesh Taka</option>
                                    <option value='BGN'>BGN -	Bulgaria Lev</option>
                                    <option value='BHD'>BHD -	Bahrain Dinar</option>
                                    <option value='BIF'>BIF -	Burundi Franc</option>
                                    <option value='BMD'>BMD -	Bermuda Dollar</option>
                                    <option value='BND'>BND -	Brunei Darussalam Dollar</option>
                                    <option value='BOB'>BOB -	Bolivia Boliviano</option>
                                    <option value='BRL'>BRL -	Brazil Real</option>
                                    <option value='BSD'>BSD -	Bahamas Dollar</option>
                                    <option value='BTN'>BTN -	Bhutan Ngultrum</option>
                                    <option value='BWP'>BWP -	Botswana Pula</option>
                                    <option value='BYR'>BYR -	Belarus Ruble</option>
                                    <option value='BZD'>BZD -	Belize Dollar</option>
                                    <option value='CAD'>CAD -	Canada Dollar</option>
                                    <option value='CDF'>CDF -	Congo/Kinshasa Franc</option>
                                    <option value='CHF'>CHF -	Switzerland Franc</option>
                                    <option value='CLP'>CLP -	Chile Peso</option>
                                    <option value='CNY'>CNY -	China Yuan Renminbi</option>
                                    <option value='COP'>COP -	Colombia Peso</option>
                                    <option value='CRC'>CRC -	Costa Rica Colon</option>
                                    <option value='CUC'>CUC -	Cuba Convertible Peso</option>
                                    <option value='CUP'>CUP -	Cuba Peso</option>
                                    <option value='CVE'>CVE -	Cape Verde Escudo</option>
                                    <option value='CZK'>CZK -	Czech Republic Koruna</option>
                                    <option value='DJF'>DJF -	Djibouti Franc</option>
                                    <option value='DKK'>DKK -	Denmark Krone</option>
                                    <option value='DOP'>DOP -	Dominican Republic Peso</option>
                                    <option value='DZD'>DZD -	Algeria Dinar</option>
                                    <option value='EGP'>EGP -	Egypt Pound</option>
                                    <option value='ERN'>ERN -	Eritrea Nakfa</option>
                                    <option value='ETB'>ETB -	Ethiopia Birr</option>
                                    <option value='EUR'>EUR -	Euro Member Countries</option>
                                    <option value='FJD'>FJD -	Fiji Dollar</option>
                                    <option value='FKP'>FKP -	Falkland Islands (Malvinas) Pound</option>
                                    <option value='GBP'>GBP -	United Kingdom Pound</option>
                                    <option value='GEL'>GEL -	Georgia Lari</option>
                                    <option value='GGP'>GGP -	Guernsey Pound</option>
                                    <option value='GHS'>GHS -	Ghana Cedi</option>
                                    <option value='GIP'>GIP -	Gibraltar Pound</option>
                                    <option value='GMD'>GMD -	Gambia Dalasi</option>
                                    <option value='GNF'>GNF -	Guinea Franc</option>
                                    <option value='GTQ'>GTQ -	Guatemala Quetzal</option>
                                    <option value='GYD'>GYD -	Guyana Dollar</option>
                                    <option value='HKD'>HKD -	Hong Kong Dollar</option>
                                    <option value='HNL'>HNL -	Honduras Lempira</option>
                                    <option value='HRK'>HRK -	Croatia Kuna</option>
                                    <option value='HTG'>HTG -	Haiti Gourde</option>
                                    <option value='HUF'>HUF -	Hungary Forint</option>
                                    <option value='IDR'>IDR -	Indonesia Rupiah</option>
                                    <option value='ILS'>ILS -	Israel Shekel</option>
                                    <option value='IMP'>IMP -	Isle of Man Pound</option>
                                    <option value='INR'>INR -	India Rupee</option>
                                    <option value='IQD'>IQD -	Iraq Dinar</option>
                                    <option value='IRR'>IRR -	Iran Rial</option>
                                    <option value='ISK'>ISK -	Iceland Krona</option>
                                    <option value='JEP'>JEP -	Jersey Pound</option>
                                    <option value='JMD'>JMD -	Jamaica Dollar</option>
                                    <option value='JOD'>JOD -	Jordan Dinar</option>
                                    <option value='JPY'>JPY -	Japan Yen</option>
                                    <option value='KES'>KES -	Kenya Shilling</option>
                                    <option value='KGS'>KGS -	Kyrgyzstan Som</option>
                                    <option value='KHR'>KHR -	Cambodia Riel</option>
                                    <option value='KMF'>KMF -	Comoros Franc</option>
                                    <option value='KPW'>KPW -	Korea (North) Won</option>
                                    <option value='KRW'>KRW -	Korea (South) Won</option>
                                    <option value='KWD'>KWD -	Kuwait Dinar</option>
                                    <option value='KYD'>KYD -	Cayman Islands Dollar</option>
                                    <option value='KZT'>KZT -	Kazakhstan Tenge</option>
                                    <option value='LAK'>LAK -	Laos Kip</option>
                                    <option value='LBP'>LBP -	Lebanon Pound</option>
                                    <option value='LKR'>LKR -	Sri Lanka Rupee</option>
                                    <option value='LRD'>LRD -	Liberia Dollar</option>
                                    <option value='LSL'>LSL -	Lesotho Loti</option>
                                    <option value='LTL'>LTL -	Lithuania Litas</option>
                                    <option value='LVL'>LVL -	Latvia Lat</option>
                                    <option value='LYD'>LYD -	Libya Dinar</option>
                                    <option value='MAD'>MAD -	Morocco Dirham</option>
                                    <option value='MDL'>MDL-	Moldova Leu </option>
                                    <option value='MGA'>MGA-	Madagascar Ariary </option>
                                    <option value='MKD'>MKD-	Macedonia Denar </option>
                                    <option value='MMK'>MMK-	Myanmar (Burma) Kyat</option>
                                    <option value='MNT'>MNT-	Mongolia Tughrik </option>
                                    <option value='MOP'>MOP-	Macau Pataca </option>
                                    <option value='MRO'>MRO-	Mauritania Ouguiya </option>
                                    <option value='MUR'>MUR-	Mauritius Rupee </option>
                                    <option value='MVR'>MVR-	Maldives (Maldive Islands) Rufiyaa </option>
                                    <option value='MWK'>MWK-	Malawi Kwacha </option>
                                    <option value='MXN'>MXN-	Mexico Peso </option>
                                    <option value='MYR'>MYR-	Malaysia Ringgit </option>
                                    <option value='MZN'>MZN-	Mozambique Metical </option>
                                    <option value='NAD'>NAD-	Namibia Dollar </option>
                                    <option value='NGN'>NGN-	Nigeria Naira </option>
                                    <option value='NIO'>NIO-	Nicaragua Cordoba </option>
                                    <option value='NOK'>NOK-	Norway Krone </option>
                                    <option value='NPR'>NPR-	Nepal Rupee </option>
                                    <option value='NZD'>NZD-	New Zealand Dollar</option>
                                    <option value='OMR'>OMR-	Oman Rial </option>
                                    <option value='PAB'>PAB-	Panama Balboa </option>
                                    <option value='PEN'>PEN-	Peru Nuevo Sol</option>
                                    <option value='PGK'>PGK-	Papua New Guinea Kina </option>
                                    <option value='PHP'>PHP-	Philippines Peso </option>
                                    <option value='PKR'>PKR-	Pakistan Rupee </option>
                                    <option value='PLN'>PLN-	Poland Zloty </option>
                                    <option value='PYG'>PYG-	Paraguay Guarani </option>
                                    <option value='QAR'>QAR-	Qatar Riyal </option>
                                    <option value='RON'>RON-	Romania New Leu</option>
                                    <option value='RSD'>RSD-	Serbia Dinar </option>
                                    <option value='RUB'>RUB-	Russia Ruble </option>
                                    <option value='RWF'>RWF-	Rwanda Franc </option>
                                    <option value='SAR'>SAR-	Saudi Arabia Riyal</option>
                                    <option value='SBD'>SBD-	Solomon Islands Dollar</option>
                                    <option value='SCR'>SCR-	Seychelles Rupee </option>
                                    <option value='SDG'>SDG-	Sudan Pound </option>
                                    <option value='SEK'>SEK-	Sweden Krona </option>
                                    <option value='SGD'>SGD-	Singapore Dollar </option>
                                    <option value='SHP'>SHP-	Saint Helena Pound</option>
                                    <option value='SLL'>SLL-	Sierra Leone Leone</option>
                                    <option value='SOS'>SOS-	Somalia Shilling </option>
                                    <option value='SPL*'>SPL*-	Seborga Luigino </option>
                                    <option value='SRD'>SRD-	Suriname Dollar </option>
                                    <option value='STD'>STD-	São Tomé and Príncipe Dobra</option>
                                    <option value='SVC'>SVC-	El Salvador Colon</option>
                                    <option value='SYP'>SYP-	Syria Pound </option>
                                    <option value='SZL'>SZL-	Swaziland Lilangeni </option>
                                    <option value='THB'>THB-	Thailand Baht </option>
                                    <option value='TJS'>TJS-	Tajikistan Somoni </option>
                                    <option value='TMT'>TMT-	Turkmenistan Manat </option>
                                    <option value='TND'>TND-	Tunisia Dinar </option>
                                    <option value='TOP'>TOP-	Tonga Pa’anga </option>
                                    <option value='TRY'>TRY-	Turkey Lira </option>
                                    <option value='TTD'>TTD-	Trinidad and Tobago Dollar </option>
                                    <option value='TVD'>TVD-	Tuvalu Dollar </option>
                                    <option value='TWD'>TWD-	Taiwan New Dollar</option>
                                    <option value='TZS'>TZS-	Tanzania Shilling </option>
                                    <option value='UAH'>UAH-	Ukraine Hryvna </option>
                                    <option value='UGX'>UGX-	Uganda Shilling </option>
                                    <option value='USD'>USD-	United States Dollar</option>
                                    <option value='UYU'>UYU-	Uruguay Peso </option>
                                    <option value='UZS'>UZS-	Uzbekistan Som </option>
                                    <option value='VEF'>VEF-	Venezuela Bolivar </option>
                                    <option value='VND'>VND-	Viet Nam Dong</option>
                                    <option value='VUV'>VUV-	Vanuatu Vatu </option>
                                    <option value='WST'>WST-	Samoa Tala </option>
                                    <option value='XAF'>XAF-	Communauté Financière Africaine (BEAC) CFA Franc BEAC</option>
                                    <option value='XCD'>XCD-	East Caribbean Dollar</option>
                                    <option value='XDR'>XDR-	International Monetary Fund (IMF) Special Drawing Rights</option>
                                    <option value='XOF'>XOF-	Communauté Financière Africaine (BCEAO) Franc</option>
                                    <option value='XPF'>XPF-	Comptoirs Français du Pacifique (CFP) Franc </option>
                                    <option value='YER'>YER-	Yemen Rial </option>
                                    <option value='ZAR'>ZAR-	South Africa Rand</option>
                                    <option value='ZMW'>ZMW-	Zambia Kwacha </option>
                                    <option value='ZWD'>ZWD-	Zimbabwe Dollar </option>
                                </select>
                                    <small class="form-text text-muted">Invoices for this customer will default to this currency.</small>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Company Address</label>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Building number" ng-model="address1" ng-blur="oncompanyadressoneChange()">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Street number" ng-model="address2" ng-blur="oncompanyadresstwoChange()">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" class="form-control" ng-model="country" ng-blur="oncompanycountryChange()">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" ng-model="state" ng-blur="oncompanystateChange()">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="City" ng-model="city" ng-blur="oncompanycityChange()">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Postal" ng-model="postalCode" ng-blur="oncompanypostalChange()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">VAT Number</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" placeholder="VAT number" ng-model="vatNumber_Company" ng-blur="onsomenotChange()" required>

                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Additional Number</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" ng-model="additionalNumber_Company" placeholder="Additional number" ng-blur="onsomenotChange()" required>

                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Other Seller ID</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" placeholder="Other seller ID" ng-model="otherSellerid_Company" ng-blur="onsomenotChange()" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="direction: rtl;">
                    <div class="row">
                        <div class="col-12 mt-3 border-bottom">
                            <h4>معلومات اساسية</h4>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">عميل</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="companyNameInArabic">
                                    <small class="form-text text-muted">اسم شركة أو شخص۔</small>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">اتصال رئيسي</label>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="الاسم الاول" ng-model="firstNameInArabic">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="الكنية" ng-model="lastNameInArabic">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="البريد الإلكتروني" ng-model="email">
                                        </div>
                                        <div class="col">
                                            <input type="number" class="form-control" placeholder="هاتف" ng-model="cellNo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">موقع إلكتروني</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="website">
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">تلاحظ</label>
                                <div class="col-sm-10">
                                    <textarea name="" class="form-control" id="" cols="2" rows="2" ng-model="companynotesInArabic"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 border-bottom">
                            <h4>عنوان الشركة</h4>
                        </div>
                        <div class="col-12">
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">عملة</label>
                                <div class="col-sm-10">
                                    <select name="" id="" class="form-control" ng-model="currency">
                                    <option value="">Select</option>
                                    <option value="AED">AED -	United Arab Emirates Dirham</option>
                                    <option value='AFN'>AFN -	Afghanistan Afghani</option>
                                    <option value='ALL'>ALL -	Albania Lek</option>
                                    <option value='AMD'>AMD -	Armenia Dram</option>
                                    <option value='ANG'>ANG -	Netherlands Antilles Guilder</option>
                                    <option value='AOA'>AOA -	Angola Kwanza</option>
                                    <option value='ARS'>ARS -	Argentina Peso</option>
                                    <option value='AUD'>AUD -	Australia Dollar</option>
                                    <option value='AWG'>AWG -	Aruba Guilder</option>
                                    <option value='AZN'>AZN -	Azerbaijan New Manat</option>
                                    <option value='BAM'>BAM -	Bosnia and Herzegovina Convertible Marka</option>
                                    <option value='BBD'>BBD -	Barbados Dollar</option>
                                    <option value='BDT'>BDT -	Bangladesh Taka</option>
                                    <option value='BGN'>BGN -	Bulgaria Lev</option>
                                    <option value='BHD'>BHD -	Bahrain Dinar</option>
                                    <option value='BIF'>BIF -	Burundi Franc</option>
                                    <option value='BMD'>BMD -	Bermuda Dollar</option>
                                    <option value='BND'>BND -	Brunei Darussalam Dollar</option>
                                    <option value='BOB'>BOB -	Bolivia Boliviano</option>
                                    <option value='BRL'>BRL -	Brazil Real</option>
                                    <option value='BSD'>BSD -	Bahamas Dollar</option>
                                    <option value='BTN'>BTN -	Bhutan Ngultrum</option>
                                    <option value='BWP'>BWP -	Botswana Pula</option>
                                    <option value='BYR'>BYR -	Belarus Ruble</option>
                                    <option value='BZD'>BZD -	Belize Dollar</option>
                                    <option value='CAD'>CAD -	Canada Dollar</option>
                                    <option value='CDF'>CDF -	Congo/Kinshasa Franc</option>
                                    <option value='CHF'>CHF -	Switzerland Franc</option>
                                    <option value='CLP'>CLP -	Chile Peso</option>
                                    <option value='CNY'>CNY -	China Yuan Renminbi</option>
                                    <option value='COP'>COP -	Colombia Peso</option>
                                    <option value='CRC'>CRC -	Costa Rica Colon</option>
                                    <option value='CUC'>CUC -	Cuba Convertible Peso</option>
                                    <option value='CUP'>CUP -	Cuba Peso</option>
                                    <option value='CVE'>CVE -	Cape Verde Escudo</option>
                                    <option value='CZK'>CZK -	Czech Republic Koruna</option>
                                    <option value='DJF'>DJF -	Djibouti Franc</option>
                                    <option value='DKK'>DKK -	Denmark Krone</option>
                                    <option value='DOP'>DOP -	Dominican Republic Peso</option>
                                    <option value='DZD'>DZD -	Algeria Dinar</option>
                                    <option value='EGP'>EGP -	Egypt Pound</option>
                                    <option value='ERN'>ERN -	Eritrea Nakfa</option>
                                    <option value='ETB'>ETB -	Ethiopia Birr</option>
                                    <option value='EUR'>EUR -	Euro Member Countries</option>
                                    <option value='FJD'>FJD -	Fiji Dollar</option>
                                    <option value='FKP'>FKP -	Falkland Islands (Malvinas) Pound</option>
                                    <option value='GBP'>GBP -	United Kingdom Pound</option>
                                    <option value='GEL'>GEL -	Georgia Lari</option>
                                    <option value='GGP'>GGP -	Guernsey Pound</option>
                                    <option value='GHS'>GHS -	Ghana Cedi</option>
                                    <option value='GIP'>GIP -	Gibraltar Pound</option>
                                    <option value='GMD'>GMD -	Gambia Dalasi</option>
                                    <option value='GNF'>GNF -	Guinea Franc</option>
                                    <option value='GTQ'>GTQ -	Guatemala Quetzal</option>
                                    <option value='GYD'>GYD -	Guyana Dollar</option>
                                    <option value='HKD'>HKD -	Hong Kong Dollar</option>
                                    <option value='HNL'>HNL -	Honduras Lempira</option>
                                    <option value='HRK'>HRK -	Croatia Kuna</option>
                                    <option value='HTG'>HTG -	Haiti Gourde</option>
                                    <option value='HUF'>HUF -	Hungary Forint</option>
                                    <option value='IDR'>IDR -	Indonesia Rupiah</option>
                                    <option value='ILS'>ILS -	Israel Shekel</option>
                                    <option value='IMP'>IMP -	Isle of Man Pound</option>
                                    <option value='INR'>INR -	India Rupee</option>
                                    <option value='IQD'>IQD -	Iraq Dinar</option>
                                    <option value='IRR'>IRR -	Iran Rial</option>
                                    <option value='ISK'>ISK -	Iceland Krona</option>
                                    <option value='JEP'>JEP -	Jersey Pound</option>
                                    <option value='JMD'>JMD -	Jamaica Dollar</option>
                                    <option value='JOD'>JOD -	Jordan Dinar</option>
                                    <option value='JPY'>JPY -	Japan Yen</option>
                                    <option value='KES'>KES -	Kenya Shilling</option>
                                    <option value='KGS'>KGS -	Kyrgyzstan Som</option>
                                    <option value='KHR'>KHR -	Cambodia Riel</option>
                                    <option value='KMF'>KMF -	Comoros Franc</option>
                                    <option value='KPW'>KPW -	Korea (North) Won</option>
                                    <option value='KRW'>KRW -	Korea (South) Won</option>
                                    <option value='KWD'>KWD -	Kuwait Dinar</option>
                                    <option value='KYD'>KYD -	Cayman Islands Dollar</option>
                                    <option value='KZT'>KZT -	Kazakhstan Tenge</option>
                                    <option value='LAK'>LAK -	Laos Kip</option>
                                    <option value='LBP'>LBP -	Lebanon Pound</option>
                                    <option value='LKR'>LKR -	Sri Lanka Rupee</option>
                                    <option value='LRD'>LRD -	Liberia Dollar</option>
                                    <option value='LSL'>LSL -	Lesotho Loti</option>
                                    <option value='LTL'>LTL -	Lithuania Litas</option>
                                    <option value='LVL'>LVL -	Latvia Lat</option>
                                    <option value='LYD'>LYD -	Libya Dinar</option>
                                    <option value='MAD'>MAD -	Morocco Dirham</option>
                                    <option value='MDL'>MDL-	Moldova Leu </option>
                                    <option value='MGA'>MGA-	Madagascar Ariary </option>
                                    <option value='MKD'>MKD-	Macedonia Denar </option>
                                    <option value='MMK'>MMK-	Myanmar (Burma) Kyat</option>
                                    <option value='MNT'>MNT-	Mongolia Tughrik </option>
                                    <option value='MOP'>MOP-	Macau Pataca </option>
                                    <option value='MRO'>MRO-	Mauritania Ouguiya </option>
                                    <option value='MUR'>MUR-	Mauritius Rupee </option>
                                    <option value='MVR'>MVR-	Maldives (Maldive Islands) Rufiyaa </option>
                                    <option value='MWK'>MWK-	Malawi Kwacha </option>
                                    <option value='MXN'>MXN-	Mexico Peso </option>
                                    <option value='MYR'>MYR-	Malaysia Ringgit </option>
                                    <option value='MZN'>MZN-	Mozambique Metical </option>
                                    <option value='NAD'>NAD-	Namibia Dollar </option>
                                    <option value='NGN'>NGN-	Nigeria Naira </option>
                                    <option value='NIO'>NIO-	Nicaragua Cordoba </option>
                                    <option value='NOK'>NOK-	Norway Krone </option>
                                    <option value='NPR'>NPR-	Nepal Rupee </option>
                                    <option value='NZD'>NZD-	New Zealand Dollar</option>
                                    <option value='OMR'>OMR-	Oman Rial </option>
                                    <option value='PAB'>PAB-	Panama Balboa </option>
                                    <option value='PEN'>PEN-	Peru Nuevo Sol</option>
                                    <option value='PGK'>PGK-	Papua New Guinea Kina </option>
                                    <option value='PHP'>PHP-	Philippines Peso </option>
                                    <option value='PKR'>PKR-	Pakistan Rupee </option>
                                    <option value='PLN'>PLN-	Poland Zloty </option>
                                    <option value='PYG'>PYG-	Paraguay Guarani </option>
                                    <option value='QAR'>QAR-	Qatar Riyal </option>
                                    <option value='RON'>RON-	Romania New Leu</option>
                                    <option value='RSD'>RSD-	Serbia Dinar </option>
                                    <option value='RUB'>RUB-	Russia Ruble </option>
                                    <option value='RWF'>RWF-	Rwanda Franc </option>
                                    <option value='SAR'>SAR-	Saudi Arabia Riyal</option>
                                    <option value='SBD'>SBD-	Solomon Islands Dollar</option>
                                    <option value='SCR'>SCR-	Seychelles Rupee </option>
                                    <option value='SDG'>SDG-	Sudan Pound </option>
                                    <option value='SEK'>SEK-	Sweden Krona </option>
                                    <option value='SGD'>SGD-	Singapore Dollar </option>
                                    <option value='SHP'>SHP-	Saint Helena Pound</option>
                                    <option value='SLL'>SLL-	Sierra Leone Leone</option>
                                    <option value='SOS'>SOS-	Somalia Shilling </option>
                                    <option value='SPL*'>SPL*-	Seborga Luigino </option>
                                    <option value='SRD'>SRD-	Suriname Dollar </option>
                                    <option value='STD'>STD-	São Tomé and Príncipe Dobra</option>
                                    <option value='SVC'>SVC-	El Salvador Colon</option>
                                    <option value='SYP'>SYP-	Syria Pound </option>
                                    <option value='SZL'>SZL-	Swaziland Lilangeni </option>
                                    <option value='THB'>THB-	Thailand Baht </option>
                                    <option value='TJS'>TJS-	Tajikistan Somoni </option>
                                    <option value='TMT'>TMT-	Turkmenistan Manat </option>
                                    <option value='TND'>TND-	Tunisia Dinar </option>
                                    <option value='TOP'>TOP-	Tonga Pa’anga </option>
                                    <option value='TRY'>TRY-	Turkey Lira </option>
                                    <option value='TTD'>TTD-	Trinidad and Tobago Dollar </option>
                                    <option value='TVD'>TVD-	Tuvalu Dollar </option>
                                    <option value='TWD'>TWD-	Taiwan New Dollar</option>
                                    <option value='TZS'>TZS-	Tanzania Shilling </option>
                                    <option value='UAH'>UAH-	Ukraine Hryvna </option>
                                    <option value='UGX'>UGX-	Uganda Shilling </option>
                                    <option value='USD'>USD-	United States Dollar</option>
                                    <option value='UYU'>UYU-	Uruguay Peso </option>
                                    <option value='UZS'>UZS-	Uzbekistan Som </option>
                                    <option value='VEF'>VEF-	Venezuela Bolivar </option>
                                    <option value='VND'>VND-	Viet Nam Dong</option>
                                    <option value='VUV'>VUV-	Vanuatu Vatu </option>
                                    <option value='WST'>WST-	Samoa Tala </option>
                                    <option value='XAF'>XAF-	Communauté Financière Africaine (BEAC) CFA Franc BEAC</option>
                                    <option value='XCD'>XCD-	East Caribbean Dollar</option>
                                    <option value='XDR'>XDR-	International Monetary Fund (IMF) Special Drawing Rights</option>
                                    <option value='XOF'>XOF-	Communauté Financière Africaine (BCEAO) Franc</option>
                                    <option value='XPF'>XPF-	Comptoirs Français du Pacifique (CFP) Franc </option>
                                    <option value='YER'>YER-	Yemen Rial </option>
                                    <option value='ZAR'>ZAR-	South Africa Rand</option>
                                    <option value='ZMW'>ZMW-	Zambia Kwacha </option>
                                    <option value='ZWD'>ZWD-	Zimbabwe Dollar </option>
                                </select>
                                    <small class="form-text text-muted">سيتم تعيين فواتير هذا العميل بشكل افتراضي إلى هذه العملة۔</small>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">عنوان الشركة</label>
                                <div class="col-sm-10 mt-2">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="تبوك" ng-model="companyadressoneInArabic">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="العنوان 2 (اختياري)" ng-model="companyadresstwoInArabic">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" class="form-control" name="" id="" ng-model="companycountryInArabic">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="" id="" ng-model="companystateInArabic">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="مدينة" ng-model="companycityInArabic">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="بريدي" ng-model="postalCodeArabic">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">ظريبه الشراء</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" placeholder="VAT number" ng-model="vatNumber_Company" ng-blur="onsomenotChange()" required>

                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">رقم إضافي</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" ng-model="additionalNumber_Company" placeholder="Additional number" ng-blur="onsomenotChange()" required>

                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="inputPassword" class="col-sm-2 col-form-label">معرف البائع الآخر</label>
                                <div class="col-sm-10 mt-2">
                                    <input type="text" class="form-control is-invalid" placeholder="Other seller ID" ng-model="otherSellerid_Company" ng-blur="onsomenotChange()" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center pb-5">
                    <button class="btn btn-danger">Cancel &nbsp; إلغاء</button>
                    <button class="btn btn-success" type="button" ng-click="updatecompany()">Save &nbsp; حفظ</button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
<script>
    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function() {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function() {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
<script>
    async function uploadFile() {
        let formData = new FormData();
        debugger
        formData.append("file", fileupload.files[0]);
        await fetch('http://97f1-101-50-88-15.ngrok.io/uploader/uploadLogo', {
            method: "POST",
            body: formData
        });
        $.dialog({
            icon: 'fa fa-spinner fa-spin',
            title: 'Working!',
            content: 'we are processing your request!'
        });

        setTimeout(() => {
            $.notify("The file has been uploaded successfully...!", "success");
            window.location.reload();
        }, 5000);
    }
</script>