<div class="height-100" ng-controller="gettopcustomerController">
    <div class="container m-0">
        <div class="row">
            <div class="col-6">
                <h2>Income by Customer - دخل العميل</h2>
            </div>
            <div class="col-6 addproduct">
                <div class="dropdown">
                    <span>Export</span>
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a href="#">Downlaod as a CSV</a>
                            </li>
                            <li>
                                <a href="#" download="">Downlaod as a PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row border-income">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <input placeholder="From" class="textbox-n form-control" ng-model="startDate" type="text" onfocus="(this.type='date')" id="date">
                            </div>
                            <div class="col-sm-6">
                                <input placeholder="To" class="textbox-n form-control" ng-model="endDate" type="text" onfocus="(this.type='date')" id="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success" ng-click="getcustomerbydate()" style="float:right">Get Report - احصل على تقرير</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Total (SAR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in gettopcustomer">
                            <th>{{x.customerName}}</th>
                            <td class="totalprice">{{x.invoiceTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var sum = 0;
        $(".totalprice").each(function() {
            var val = $.trim($('.totalprice').text());
            // val = val.split(",")
            if (val) {
                val = parseFloat(val.replace(/^\$/, ""));
                sum += !isNaN(val) ? val : 0;
            }
        });
        $('.totalamount').text(sum);
    });
</script>