<div class="height-100" ng-controller="gettopproductController">
    <div class="container m-0">
        <div class="row">
            <div class="col-6">
                <h2>Income by product - الدخل حسب المنتج</h2>
            </div>
            <div class="col-6 addproduct">
                <div class="dropdown">
                    <span>Export</span>
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a href="#">Downlaod as a CSV</a>
                            </li>
                            <li>
                                <a href="#" download="">Downlaod as a PDF</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row border-income">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <input placeholder="From" class="textbox-n form-control" ng-model="startDate" type="text" onfocus="(this.type='date')" id="date">
                            </div>
                            <div class="col-sm-6">
                                <input placeholder="To" class="textbox-n form-control" ng-model="endDate" type="text" onfocus="(this.type='date')" id="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success" ng-click="getproductbydate()" style="float:right">Get Report - احصل على تقرير</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total (SAR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in gettopproduct">
                            <th>{{x.productName}}</th>
                            <th>{{x.quantity}}</th>
                            <td class="totalprice">{{x.taxableAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>