<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<div class="height-100" ng-controller="printInvoiceController">
    <div class="container m-0">
        <div class="row">
            <div class="col-6">
                <h2>Invoice</h2>
            </div>
            <div class="col-6 addproduct">
                <div class="dropdown">
                    <span>Download</span>
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" onclick="generatePDF()">Download as a PDF</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="printDiv('printMe')">Print</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Download as a XML</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h4>Create</h4>
                                <small><b>Created:</b> 4 hour ago</small>
                            </div>
                            <div class="col-6 addproduct">
                                <a href="#">Approve</a>
                                <a href="createinvoice.html">Edit invoice</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h4>Send</h4>
                                <small><b>Last sent:</b> Marked as send today.  <a href="#">Edit date</a></small>
                            </div>
                            <div class="col-6 addproduct">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12 addproduct">
                                                <a href="#">Send invoice</a>
                                            </div>
                                            <div class="col-12">
                                                as <a href="#">mark as complete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 addproduct">
                                        <a href="#">Get share link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Get Paid</h4>
                                    </div>
                                    <div class="col-6">
                                        <small><b>Amount due:</b> <a href="#">Record a payment</a> manually</small>
                                    </div>
                                    <div class="col-6">
                                        <small><b>Status:</b> Your invoice is awaiting payment</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 addproduct">
                                <a href="javascript:void(0);" id="myBtn">Record a payment - دفع قياسي</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" id="printMe">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <di class="col-12 text-center bg-light">
                                <h4 class="p-2 m-0">{{invoiceName}}</h4>
                            </di>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img ng-src="data:image/JPEG;base64,{{companylogo}}" height="200" width="300">
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tbody>
                                            <tr>
                                                <td>Invoice Number</td>
                                                <td>{{invoiceNumber}}</td>
                                                <td id="invoicenumber" style="text-align: right;">{{invoiceNumber}}</td>
                                                <td style="text-align: right;">رقم الفاتورة</td>
                                            </tr>
                                            <tr>
                                                <td>Invoice Issue Date</td>
                                                <td>{{invoiceIssueDate}}</td>
                                                <td style="text-align: right;">{{invoiceIssueDate}}</td>
                                                <td style="text-align: right;">تاريخ إصدار الفاتورة </td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Supply</td>
                                                <td>{{invoicedateofsupply}}</td>
                                                <td style="text-align: right;">{{invoicedateofsupply}}</td>
                                                <td style="text-align: right;">تاريخ التوريد</td>
                                            </tr>
                                        </tbody>
                                    </thead>
                                </table>
                                <table class="table table-bordered">
                                    <thead>
                                        <tbody>
                                            <tr>
                                                <td>ٰInvoice Type</td>
                                                <td>{{type}}</td>
                                                <td style="text-align: right;">Currency</td>
                                                <td style="text-align: right;">{{currency}}</td>
                                            </tr>
                                        </tbody>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Seller</th>
                                            <th colspan="2" class="textright">تاجر</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td id="sellername">{{seller.companyName}}</td>
                                            <td class="textright">علي</td>
                                            <td class="textright">اسم</td>
                                        </tr>
                                        <tr>
                                            <td>Building No</td>
                                            <td>{{seller.address1}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">لا للبناء</td>
                                        </tr>
                                        <tr>
                                            <td>Street Name</td>
                                            <td>{{seller.address2}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">اسم الشارع</td>
                                        </tr>
                                        <tr>
                                            <td>Province</td>
                                            <td>{{seller.state}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">مقاطعة</td>
                                        </tr>
                                        <tr>
                                            <td>City</td>
                                            <td>{{seller.city}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">مدينة</td>
                                        </tr>
                                        <tr>
                                            <td>Postal Code</td>
                                            <td>{{seller.postalCode}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">رمز بريدي</td>
                                        </tr>
                                        <tr>
                                            <td>Additional No</td>
                                            <td>{{seller.additionalNumber_Company}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">لاإضافية</td>
                                        </tr>
                                        <tr>
                                            <td>VAT Number</td>
                                            <td id="vatregisternumber">{{seller.vatNumber_Company}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">ظريبه الشراء</td>
                                        </tr>
                                        <tr>
                                            <td>Other Seller ID</td>
                                            <td>{{seller.otherSellerid_Company}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">معرف البائع الآخر</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Buyer</th>
                                            <th colspan="2" class="textright">مشتر</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td>{{buyer.firstName}} {{buyer.lastName}}</td>
                                            <td class="textright">علي</td>
                                            <td class="textright">اسم</td>
                                        </tr>
                                        <tr>
                                            <td>Building No</td>
                                            <td>{{buyer.shippingAddress1}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">لا للبناء</td>
                                        </tr>
                                        <tr>
                                            <td>Street Name</td>
                                            <td>{{buyer.shippingAddress2}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">اسم الشارع</td>
                                        </tr>
                                        <tr>
                                            <td>Province</td>
                                            <td>{{buyer.shippingProvince}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">مقاطعة</td>
                                        </tr>
                                        <tr>
                                            <td>City</td>
                                            <td>{{buyer.shippingCity}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">مدينة</td>
                                        </tr>
                                        <tr>
                                            <td>Postal Code</td>
                                            <td>{{buyer.shippingPostal}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">رمز بريدي</td>
                                        </tr>
                                        <tr>
                                            <td>Additional No</td>
                                            <td>{{buyer.additionalNumber_Customer}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">لاإضافية</td>
                                        </tr>
                                        <tr>
                                            <td>VAT Number</td>
                                            <td id="vatnumber">{{buyer.vatNumber_Customer}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">ظريبه الشراء</td>
                                        </tr>
                                        <tr>
                                            <td>Other Seller ID</td>
                                            <td>{{buyer.otherSellerid_Customer}}</td>
                                            <td class="textright"></td>
                                            <td class="textright">معرف البائع الآخر</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <table class="table table-bordered table-striped">
                                    <thead class="thead-light">
                                        <tr style="text-align: center;">
                                            <th scope="col">Product Name <br> اسم العنصر</th>
                                            <th scope="col">Unit Price <br> سعر الوحدة</th>
                                            <th scope="col">Quantity <br> كمية</th>
                                            <th scope="col">Taxable Amount <br> المبلغ الخاضع للضريبة</th>
                                            <th scope="col">Discount <br> تخفيض</th>
                                            <th scope="col">Amount Before Tax <br> المبلغ قبل الضريبة</th>
                                            <th scope="col">Tax Rate <br> معدل الضريبة</th>
                                            <th scope="col">Tax Amount <br> قيمة الضريبة</th>
                                            <th scope="col">Item Subtotal <br> المجموع الفرعي للعنصر</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in itemsList">
                                            <td>
                                                {{item.productName}}<br>
                                                <div class="" ng-if="invoiceName =='Tax invoice - Debit Note' || invoiceName =='Tax invoice - Credit Note'">
                                                    {{item.description}}
                                                </div>
                                            </td>
                                            <td>{{item.price | number}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.taxableAmount | number}}</td>
                                            <td>{{item.discount}}</td>
                                            <td>{{item.amountBeforeTax | number}}</td>
                                            <td>{{item.vat}}</td>
                                            <td>{{item.taxAmount | number}}</td>
                                            <td>{{item.itemSubTotal | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4 text-center">
                                <div id="qrcode"></div>
                            </div>
                            <div class="col-8 ">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="row border-bottom">
                                            <div class="col-6">
                                                <h5>Total Amounts</h5>
                                            </div>
                                            <div class="col-6" style="text-align: right;">
                                                <h5>إجمالي المبالغ</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <table class="table table-hover table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>Total (Excluding VAT) الإجمالي (باستثناء ضريبة القيمة المضافة)</td>
                                                            <td>{{totalExcludingVAT | number}} {{currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Discount تخفيض</td>
                                                            <td>{{Discount | number}} {{currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Taxable Amount (excluding VAT) إجمالي المبلغ الخاضع للضريبة (باستثناء ضريبة القيمة المضافة)</td>
                                                            <td>{{TotalTaxableAmount | number}} {{currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total VAT إجمالي ضريبة القيمة المضافة</td>
                                                            <td id="totalvat">{{TotalVAT | number}} {{currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Amount Due إجمالي المبلغ المستحق</td>
                                                            <td>{{TotalAmountDue | number}} {{currency}} <br> <span id="result"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <label for="">Notes / Terms</label>
                                <label style="float: right;" for="">ملاحظات / شروط</label>
                            </div>
                            <div class="col-12">
                                <p class="m-0 border p-2">{{notes}}</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <label for="">Reason for not charging Standard VAT rate</label>
                                <label style="float: right;" for="">سبب عدم فرض معدل ضريبة القيمة المضافة القياسي</label>
                            </div>
                            <div class="col-12">
                                <p class="m-0 border p-2">{{reasonChangingStandard}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-dialog recordpayment" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Record a payment for this invoice </b></h5>
                    <button type="button" class="close closebutton" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Record a payment you’ve already received, such as cash, check, or bank payment.</p>
                        </div>
                        <div class="col-12 mt-2">
                            <form action="">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Payment date</label>
                                    <div class="col-sm-9">
                                        <input type="date" ng-model="paymentDate" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Total Amount</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly ng-model="TotalAmountDue" value="{{TotalAmountDue}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Invoice Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly ng-model="invoiceNumber" value="{{invoiceNumber}}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Pay Amount</label>
                                    <div class="col-sm-9">
                                        <input type="number" ng-model="amount" class="form-control" value="$">
                                    </div>
                                </div>
                                <!-- <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Payment method</label>
                                    <div class="col-sm-9">
                                        <select name="" class="form-control" id="">
                                                <option value="">Select a payment method...</option>
                                                <option value="">Bank payment</option>
                                                <option value="">Cash</option>
                                                <option value="">Check</option>
                                                <option value="">Credit card</option>
                                                <option value="">Paypal</option>
                                                <option value="">Other</option>
                                            </select>
                                    </div>
                                </div> -->
                                <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Payment account</label>
                                    <div class="col-sm-9">
                                        <select name="" ng-model="paymentAccount" class="form-control" id="">
                                                <option value="">Select a payment account...</option>
                                                <option value="Cash on Hand (USD)">Cash on Hand (USD)</option>
                                                <option value="Shareholder Loan (USD)">Shareholder Loan (USD)</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="form-group row mt-2">
                                    <label class="col-sm-3 col-form-label">Memo / notes</label>
                                    <div class="col-sm-9">
                                        <textarea name="" id="" ng-model="notes" class="form-control" cols="3" rows="2"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger closebutton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="recordpaymentInvoice();">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    $('#selectitem').hide();

    function mytogal() {
        $('#selectitem').show();
        $('.select2-container').css("width", "50%");
    }
</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>

<script>
    function generatePDF() {
        // Choose the element that our invoice is rendered in.
        const element = document.getElementById('printMe');
        // Choose the element and save the PDF for our user.
        debugger
        var opt = {
            margin: 1,
            filename: {
                vatnumber: $('#invoicenumber').text(),
                invoicenuber: $('#vatnumber').text()
            },
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            html2canvas: {
                scale: 2,
            },
            jsPDF: {
                unit: 'in',
                format: 'a3',
                orientation: 'Portrait',
            },
            margin: 0.2,
            format: "A3",
            layout: "Portrait"
        };
        $("#printMe").css("font-size", "12px");

        // New Promise-based usage:
        html2pdf().set(opt).from(element).save();
    }
</script>

<script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "Seller Name:" + sessionStorage.getItem('current_seller_name_for_print_invoice') + "   " + "Vat registration number:" + sessionStorage.getItem('current_vat_registration_number_for_print_invoice') + "   " + "Total VAT:" + sessionStorage.getItem('current_total_vat_for_print_invoice'),
        width: 170,
        height: 170,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
</script>
<script>
    function word() {
        debugger
        let numberInput = parseFloat(sessionStorage.getItem('TotalAmountDue_printInv').replace(/,/g, ''));
        //let numberInput = parseFloat($('#numberInput').text().replace(/,/g, ''));
        let myDiv = document.querySelector('#result');

        let oneToTwenty = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ',
            'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '
        ];
        let tenth = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

        if (numberInput.toString().length > 7) return myDiv.innerHTML = 'overlimit';
        console.log(numberInput);
        //let num = ('0000000000'+ numberInput).slice(-10).match(/^(\d{1})(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
        let num = ('0000000' + numberInput).slice(-7).match(/^(\d{1})(\d{1})(\d{2})(\d{1})(\d{2})$/);
        console.log(num);
        if (!num) return;

        let outputText = num[1] != 0 ? (oneToTwenty[Number(num[1])] || `${tenth[num[1][0]]} ${oneToTwenty[num[1][1]]}`) + ' million ' : '';

        outputText += num[2] != 0 ? (oneToTwenty[Number(num[2])] || `${tenth[num[2][0]]} ${oneToTwenty[num[2][1]]}`) + 'hundred ' : '';
        outputText += num[3] != 0 ? (oneToTwenty[Number(num[3])] || `${tenth[num[3][0]]} ${oneToTwenty[num[3][1]]}`) + ' thousand ' : '';
        outputText += num[4] != 0 ? (oneToTwenty[Number(num[4])] || `${tenth[num[4][0]]} ${oneToTwenty[num[4][1]]}`) + 'hundred ' : '';
        outputText += num[5] != 0 ? (oneToTwenty[Number(num[5])] || `${tenth[num[5][0]]} ${oneToTwenty[num[5][1]]} `) : '';

        myDiv.innerHTML = outputText;
    }
</script>